<h1>Create new announcement</h1>

<%= form_with(url: announcements_url) do |form| %>
  <p>
    <%= form.label :message, 'Message' %>
    <%= form.text_area :message, size: '80x8' %>
  </p>

  <p>
    <%= form.label :addresses, 'Addresses' %>
    <%= form.text_area :addresses, size: '80x8' %>
  </p>

  <p>
    <%= form.submit 'Send!' %>
  </p>
<% end %>
